<!DOCTYPE html>
<html>
<head>
  <title>Mero CMS</title>
  <%#= stylesheet_link_tag    "mero_cms" %>
  <%= stylesheet_link_tag    "mero_cms/application" %>
  <%#= stylesheet_link_tag    "css3buttons" %>
  <%= javascript_include_tag "mero_cms/application" %>
  <%#= javascript_include_tag "mero_cms" %>
  <%= csrf_meta_tags %>
</head>
<body>
  
<% flash.each do |key, message| %> 
  <p id="flash_<%= key %>"><%= message %></p>
<% end %>

<%= yield %>

</body>
</html>
